<html>
  <body>

    <p>Welcome to <%= Nuts.settings.app_name %>.</p>

    <p>
      Please click this link or paste it into your browser to verify your email address.
      <a href="<%= validate_email_url %>"><%= validate_email_url %></a>
    </p>
  <body>
</html>
