<footer>
  <div class="container text-center">
    <p class="pull-left">© 2014 Company, Inc. All Rights Reserved</p>
    <ul class="pull-right list-inline">
      <li>
        <a href="https://github.com/sahat/hackathon-starter">GitHub Project</a>
      </li>
      <li>
        <a href="https://github.com/sahat/hackathon-starter/issues">Issues</a>
      </li>
    </ul>
  </div>
</footer>
