<footer>
  <div class="container text-center">
    <p class="pull-left">© 2014 {{ settings.company_name }}, Inc. All Rights Reserved</p>
    <ul class="pull-right list-inline">
      <li>
        <a href="https://github.com/micahlmartin/nuts">GitHub Project</a>
      </li>
      <li>
        <a href="https://github.com/micahlmartin/nuts/issues">Issues</a>
      </li>
    </ul>
  </div>
</footer>
