<!DOCTYPE html>
<html>
  <head>
    <meta charSet="utf-8" />
    <meta httpEquiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= title %></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf" content={context.csrf} />
    <style id="server-side-style">
      <%= css %>
    </style>
  </head>
  <body>
    <script type="text/javascript">
      window.bootstrapData = <%= data %>;
    </script>
    <div id="content">
      <%= html %>
    </div>
    <script type="text/javascript" src="/assets/<%= assetFilename %>"></script>
  </body>
</html>
