{{#extend "layouts/default"}}

  {{#content "content"}}
    <div class="page-header">
      <h3>Sign in</h3>
    </div>
    <form method="POST">
      {{{csrf_field}}}
      <div class="col-sm-8 col-sm-offset-2">
        <div class="form-group">
          <label for="email" class="control-label">Email</label>
          <input type="text" name="email" id="email" placeholder="Email" autofocus class="form-control">
        </div>
        <div class="form-group">
          <label for="password" class="control-label">Password</label>
          <input type="password" name="password" id="password" placeholder="Password" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            <span class="ion-android-hand"></span>Login
          </button>
          <a href="/forgot" class="btn btn-link">Forgot your password?</a>
        </div>

        <hr>
        <a href="/auth/facebook" class="btn btn-block btn-facebook btn-social">
          <i class="fa fa-facebook"></i>Sign in with Facebook
        </a>
        <a href="/auth/twitter" class="btn btn-block btn-twitter btn-social">
          <i class="fa fa-twitter"></i>Sign in with Twitter
        </a>
        <a href="/auth/google" class="btn btn-block btn-google-plus btn-social">
          <i class="fa fa-google-plus"></i>Sign in with Google
        </a>
        <a href="/auth/github" class="btn btn-block btn-github btn-social">
          <i class="fa fa-github"></i>Sign in with GitHub
        </a>
        <a href="/auth/linkedin" class="btn btn-block btn-linkedin btn-social">
          <i class="fa fa-linkedin"></i>Sign in with LinkedIn
        </a>
        <a href="/auth/instagram" class="btn btn-block btn-instagram btn-social">
          <i class="fa fa-instagram"></i>Sign in with Instagram
        </a>
      </div>
    </form>

  {{/content}}

{{/extend}}
